
<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MDB Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
  </head>
  <body>
    <!-- Barra Lateral -->
    <div class="sidebar">
      <h1 class="logo">Mdb</h1>
      <nav class="menu">
        <a href="#" class="menu-item" id="Search">🔍 Pesquisa</a>
        <a href="#" class="menu-item">📋 Histórico</a>
        <a href="#" class="menu-item">👤 Acesso</a>
      </nav>
      <form action="{{ url_for('logout') }}" method="POST">
        <button type="submit" class="logout-btn">↪ Logout</button>
    </form>
    
    </div>

    <!-- Conteúdo Principal -->
    <main class="main">
      <header class="top-bar">
        <label for="upload" class="top-btn upload-btn">📤 Upload</label>
        <input type="file" id="upload" accept=".csv" style="display: none" />
        <button class="top-btn export-btn">📥 Exportar</button>
        <button class="top-btn analytics-btn">📊 Analítico</button>
      </header>

      <!-- Pop-up de cpf -->
      <div id="cpf-popup" class="popup">
        <div class="popup-content">
          <h3>Informe o CPF</h3>
          <input type="text" id="cpf-input" placeholder="Digite o cpf" />
          <button id="cpf-submit">Enviar</button>
          <button id="cpf-exit" class="exit-btn">Sair</button>
          <!-- Novo botão Sair -->
        </div>
      </div>

      <!-- Seção do Dashboard -->
      <section class="section">
        <div class="dashboard">
          <div class="chart"></div>
          <div class="side-panel">
            <div id="topics-container" class="topics-container">
              <!-- Os dados do CPF serão inseridos aqui -->
            </div>
          </div>
        </div>
      </section>
    </main>

    <!-- Pop-up de SEARCH -->
    <div id="search-popup" class="popup">
      <div class="popup-content">
        <h3>Pesquisar</h3>
        <input type="text" id="search-input" placeholder="Pesquisar" />
        <button id="search-submit">Enviar</button>
        <button id="search-exit" class="exit-btn">Sair</button>
        <!-- Novo botão Sair -->
      </div>
    </div>

    <!-- Rodapé -->
    <footer class="footer">
      <div class="user-options">
        <a href="{{ url_for('infomacao') }}" class="help-btn">❔</a>
        &nbsp;&nbsp;&nbsp;<span class="user-name">Usuário</span>
      </div>
    </footer>
  </body>
</html>