<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bem-vindo ao Sistema</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/informacao.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="content-box">
        <h1>Bem-vindo ao Sistema</h1>
        <p>
          O sistema é voltado para a modelagem de bases de dados em Excel e
          inclui um controle de acesso baseado em privilégios, permitindo
          filtrar as informações necessárias para cada usuário.
        </p>
      </div>
    </div>
  </body>
</html>
